DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiOGFjMjBmNDMtMWZmMS00NmEyLTg0NmQtNzVkNmQzZWIyNDMwIiwidGVuYW50X2lkIjoiOWRlM2JlYjVmMzA4NWQwYTZlNTc4YmViYzA2ZThlMDBjODJmMzJjMGEzMjM3NDA4MGQxN2IwYTNjNjQ4MDNiOSIsImludGVybmFsX3NlY3JldCI6ImYwNzE2MzIzLTE4YWMtNDRiYS1iMTIxLWMyNGM2ZjY5OTVmNyJ9.d2JlGI957bMSdt7uvnb7cYE6d7990CMiWtaH6vMX4Po"
PULSE_API_KEY=""
